node_modules/
coverage/
android/
ios/
*.config.js
babel.config.js
metro.config.js
react-native.config.js
jest.config.js
.github/
scripts/
__mocks__/
build/
dist/
.expo/
.vscode/
.DS_Store
**/*.test.ts
**/*.test.tsx
**/__tests__/